<div class="divexterna">
    <div class="">
        <div class="">
            <nav class=" navbar navbar-expand-lg border-bottom border-white">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="#">Chromodoro</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
                        <div class="d-flex">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item mx-2 mt-1">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                        data-bs-target="#modalconfig">
                                        Opções
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalconfig" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Configurações
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container text-center">
                                                        <legend class="form-label fs-4">Timer</legend>
                                                        <legend class="form-label fs-5 text-start" for="labeltimer">
                                                            Tempo
                                                            (minutos)</label>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label class="fs-6"
                                                                        for="pomodorotimer">Pomodoro</label>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="fs-6" for="pomodoroshort">Pausa
                                                                        curta</label>
                                                                </div>
                                                                <div class="col">
                                                                    <label class="fs-6" for="pomodorolong">Pausa
                                                                        longa</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <input class="form-control" type="number"
                                                                        name="pomodorotimer" id="pomodorotimer"
                                                                        value="25">
                                                                </div>
                                                                <div class="col">
                                                                    <input class="form-control" type="number"
                                                                        name="pomodoroshort" id="pomodoroshort"
                                                                        value="5">
                                                                </div>
                                                                <div class="col">
                                                                    <input class="form-control" type="number"
                                                                        name="pomodorolong" id="pomodorolong"
                                                                        value="15">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <label class="fs-6"
                                                                            for="btn-toggle-auto-short">Pausa curta
                                                                            automática</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <button type="button"
                                                                            class="btn btn-primary rounded-circle option"
                                                                            data-bs-toggle="button" aria-pressed="false"
                                                                            id="autoshort">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <label class="fs-6"
                                                                            for="btn-toggle-auto-pomodoro">Pausa longa
                                                                            automática</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <button type="button"
                                                                            class="btn btn-primary rounded-circle option"
                                                                            data-bs-toggle="button" aria-pressed="false"
                                                                            id="autolong">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-column mt-2">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <label class="fs-6"
                                                                            for="btn-toggle-auto-pomodoro">Pomodoros
                                                                            automáticos</label>
                                                                    </div>
                                                                    <div class="col">
                                                                        <button type="button"
                                                                            class="btn btn-primary rounded-circle option"
                                                                            data-bs-toggle="button" aria-pressed="false"
                                                                            id="autopomodoro">&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary btnsaveopt"
                                                        data-bs-dismiss="modal" id="saveopt">Salvar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mx-2 mt-1">
                                    <a class="btn btn-light" href="/conta">Conta</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="timercontainer">
                <div class="rounded d-flex flex-column timersection">
                    <div class="d-flex justify-content-evenly divbtn">
                        <button class="btn btn-outline-light btn-lg timerbtn" disabled
                            id="btnpomodoro">Pomodoro</button>
                        <button class="btn btn-outline-light btn-lg timerbtn" disabled id="btnpausacurta">Pausa
                            curta</button>
                        <button class="btn btn-outline-light btn-lg timerbtn" disabled id="btnpausalonga">Pausa
                            longa</button>
                    </div>
                    <div class="d-flex justify-content-center text-white " id="divtimer">
                        25:00
                    </div>
                    <div class="d-flex justify-content-center pb-2">
                        <button class="btn btn-outline-light btn-lg timerbtn" id="btniniciar">Iniciar</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center fs-4 pt-3">
                <div class="text-white" id="ciclo" data-bs-toggle="modal" data-bs-target="#cicloconfirm">
                    0#
                </div>
                <!-- Modal -->
                <div class="modal fade" id="cicloconfirm" tabindex="-1" aria-labelledby="cicloconfirm"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Você deseja redefinir a contagem de ciclos pomodoro?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btnsaveopt" data-bs-dismiss="modal"
                                    id="btncicloreset">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center text-white fs-5 pt-1" id="ciclomsg">
                Hora do foco!
            </div>
            <div class="divexterna">
                <ul class="nav nav-tabs pt-3" id="tabpt" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tarefastab"
                            type="button" role="tab" aria-controls="tarefastab" aria-selected="true">Tarefas</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#projetostab"
                            type="button" role="tab" aria-controls="projetostab" aria-selected="false">Projetos</button>
                    </li>
                </ul>
                <div class="tab-content" id="tabcontent">
                    <div class="tab-pane fade show active" id="tarefastab" role="tabpanel" aria-labelledby="tarefastab"
                        tabindex="0">
                        <div class="d-flex justify-content-center py-2">
                            <img src="/images/plusicon.svg" alt="Icone mais" id="addtarefa">
                        </div>
                        <form action="/addtarefa" method="post" class="rounded pt-3 mb-2" id="formtarefa">
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" class="form-control" placeholder="Nome da tarefa"
                                        aria-label="Nome da tarefa" name="nometarefa" id="nometarefa">
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control" placeholder="Est Pomodoro"
                                        aria-label="Est Pomodoro" name="estpomodoro" id="estpomodoro">
                                </div>
                            </div>
                            <div class="pt-3">
                                <textarea name="descricao" id="descricao" cols="10" rows="5" class="form-control"
                                    placeholder="Descreva sua tarefa" maxlength="500"></textarea>
                            </div>
                            <div class="d-flex justify-content-end pt-2">
                                <button class="btn btn-light mx-1" type="reset" id="btnlimpar">Cancelar</button>
                                <button class="btn btn-light" type="submit" id="btnsalvar">Salvar</button>
                            </div>
                        </form>
                        {{#each post}}
                        {{#dataValues}}
                        <div class="card my-2" id="tarefa{{id_tarefa}}" onclick="teste(this.id)">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <input type="hidden" name="id" id="idtarefa" value="{{id_tarefa}}"
                                        class="form-control">
                                    <h5 class="card-title">{{nome}}</h5>
                                    <div class="d-flex gap-1">
                                        <span class="fs-5 ciclos">
                                            0
                                        </span>
                                        <span class="fs-5 estciclo">
                                            /
                                        </span>
                                        <span class="fs-5">
                                            {{est_ciclo}}
                                        </span>
                                    </div>
                                </div>
                                <span class="card-text">{{progresso}}</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{descricao}}</p>
                                <div class="d-flex justify-content-end">
                                    <a href="/updatestatus/{{id_tarefa}}" id="updatestatus" hidden></a>
                                    <a href="/excluirtarefa/{{id_tarefa}}" class="btn btn-dark mx-1">Excluir</a>
                                    <a href="/editartarefa/{{id_tarefa}}" class="btn btn-dark mx-1">Editar</a>
                                </div>
                            </div>
                        </div>
                        {{/dataValues}}
                        {{/each}}
                    </div>
                    <div class="tab-pane fade" id="projetostab" role="tabpanel" aria-labelledby="projetostab"
                        tabindex="0"></div>
                </div>
            </div>
        </div>
    </div>
</div>